@import '../../General/Variables.scss';

.scrollbar {
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: transform $transition-medium ease;
    display: flex;
    justify-content: flex-end;

    div {
        height: 100%;
        width: $spacing-scrollbar;
        transform: scale(0);
    }

    &.black div {
        background-color: $color-black;
    }

    &.white div {
        background-color: $color-white;
    }
}

#information,
#legal,
#portfolio,
#showroom {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar,
#information::-webkit-scrollbar,
#legal::-webkit-scrollbar,
#portfolio::-webkit-scrollbar,
#showroom::-webkit-scrollbar {
    display: none;
    background-color: transparent;
    height: 0;
    width: 0;
}