@import '../../General/Variables.scss';

#welcome {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    justify-items: center;
    background-color: $color-white;

    #logo {
        height: $spacing-icon-l;
        width: $spacing-icon-l;
        align-self: flex-end;

        img {
            height: 100%;
            width: 100%;
        }

        canvas{
            height: 100% !important;
            width: 100% !important;
        }
    }

    #message {
        color: $color-black;
        font-size: $font-size-l;
        font-weight: $font-weight-thin;
        align-self: center;
        text-align: center;
        margin: $spacing-l 0;
        line-height: 1.25;
        /* filter: grayscale(1); */
    }

    #enter {
        cursor: pointer;
        align-self: flex-start;

        img {
            height: $spacing-icon-m;
            width: $spacing-icon-m;
            transition: transform $transition-medium ease;
            transform: scale(1);

            &:hover {
                transform: scale(1.25);
            }
        }
    }
}