@import '../../../General/Variables.scss';

#header {
    pointer-events: none;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    height: $spacing-header;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $spacing-m;

    div {
        position: relative;
        cursor: pointer;
        pointer-events: all;
        display: flex;
        justify-content: center;
        align-items: center;
        height: $spacing-icon-l;
        width: $spacing-icon-l;

        img {
            position: absolute;
            opacity: 0;
            width: 0%;
            transition: opacity $transition-m ease,
                        transform $transition-s ease,
                        width $transition-m ease;

            &.show {
                opacity: 1;
                width: 100%;
            }
        }
    }
}

#main.desktop #header {
    div:first-child:hover {
        #logoBack { transform: translateX(5%); }
        #logoFront { transform: translateX(-5%); }
        #arrowUp { transform: scale(1.25); }
    }

    div:last-child:hover {
        #informationFront { transform: translateY(-5%); }
        #arrowLeft { transform: scale(1.25); }
        #arrowRight { transform: scale(1.25); }
    }
}
