@import '../../General/Variables.scss';

#portfolio {
    box-sizing: border-box;

    #selection {
        display: flex;
        align-items: center;
        justify-content: center;
	    flex-wrap: wrap;
	    flex-direction: row;
        font-size: $font-size-m;
        height: $spacing-header;
        width: 100%;
        
        li {
            box-sizing: border-box;
            cursor: pointer;
            border-radius: $border-radius-s;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: $spacing-button;
            height: $spacing-button;
            box-shadow: 0 0 $box-shadow-blur $box-shadow-spread $color-black-transparent;
            transition: transform $transition-high ease;
            transform: scale(1);

            img {
                height: $spacing-icon-s;
            }

            &:hover{
                transform: scale(1.1);
            }

            &:not(:last-of-type) {
                margin-right: $spacing-s;
            }

            &.current {
                color: $color-white;
                background-color: $color-black;

                img {
                    filter: invert(1);
                }
            }
        }
    }

    #projects {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: $spacing-m;
        padding: 0 $spacing-m;
    }

    #footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: $spacing-header;
        font-weight: $font-weight-regular;

        .divider {
            background-color: $color-black;
            border-radius: 50%;
            height: $border-width * 2;
            width: $border-width * 2;
            margin: 0 $spacing-s;
        }
    }

    @media (max-width: $media-xl) {
        #projects {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

    @media (max-width: $media-l) {
        #projects {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    @media (max-width: $media-m) {
        #projects {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media (max-width: $media-s) {
        #projects {
            grid-template-columns: 1fr;
        }
    }

}