@import '../../General/Variables.scss';

html,
body {
    position: fixed;
    overflow: hidden;

    #main {
        position: relative;
        height: 100%;
        width: 100%;

        #header {
            transform: translate(0%, 0vh);
            
        }

        #imprint,
        #information,
        #portfolio,
        #showroom,
        #welcome {
            position: absolute;
            overflow-y: auto;
            height: 100%;
            width: 100%;
            transition: transform $transition-medium ease;
        }

        #imprint,
        #information,
        .scrollbar.imprint,
        .scrollbar.information {
            transform: translate(100%, 0%);
        }

        #showroom,
        .scrollbar.showroom {
            transform: translate(-100%, 0%);
        }

        #welcome {
            transform: translate(0%, -100%);
        }

        &.imprint {
            #imprint,
            .scrollbar.imprint { 
                transform: translate(0%, 0%);
            }

            #portfolio,
            .scrollbar.portfolio { 
                transform: translate(-100%, 0%);
            }
        }

        &.information {
            #information,
            .scrollbar.information {
                transform: translate(0%, 0%);
            }

            #portfolio,
            .scrollbar.portfolio {
                transform: translate(-100%, 0%);
            }
        }

        &.portfolio {
            #portfolio,
            .scrollbar.portfolio {
                transform: translate(0%, 0%);
            }
        }

        &.showroom {
            #portfolio,
            .scrollbar.showroom {
                transform: translate(100%, 0%);
            }

            #showroom,
            .scrollbar.showroom {
                transform: translate(0%, 0%);
            }
        }

        &.welcome {
            #header { transform: translate(0%, 100vh) }
            #welcome { transform: translate(0%, 0%); }

            #portfolio,
            .scrollbar.portfolio {
                transform: translate(0%, 100%);
            }
        }

        &.transition {
            #header,
            #imprint,
            #information,
            #portfolio,
            #showroom,
            #welcome {
                transition: transform $transition-medium ease;
            }
        }
    }
}