@import '../../../General/Variables.scss';

#portfolio {
    box-sizing: border-box;

    #selection {
        display: flex;
        align-items: center;
        justify-content: center;
	    flex-wrap: wrap;
	    flex-direction: row;
        font-size: $font-size-m;
        height: $spacing-header;
        width: 100%;
        transition: height $transition-medium ease,
                    margin $transition-medium ease;
        
        li {
            box-sizing: border-box;
            cursor: pointer;
            border-radius: $border-radius-s;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: $spacing-button;
            height: $spacing-button;
            box-shadow: 0 0 $box-shadow-blur $box-shadow-spread $color-black-transparent;
            transition: transform $transition-high ease;
            transform: scale(1);

            img {
                height: $spacing-icon-s;
            }

            &:not(:last-of-type) {
                margin-right: $spacing-s;
            }

            &.current {
                color: $color-white;
                background-color: $color-black;

                img {
                    filter: invert(1);
                }
            }

            &.opacity {
                opacity: 0;
            }

            &.fade {
                animation-name: fade;
                animation-duration: $transition-low;
                animation-timing-function: ease-out;
                animation-fill-mode: backwards;

                @keyframes fade {
                    0% {
                        transform: scale(0);
                        opacity: 0;
                    }
                    70% {
                        transform: scale(1.025);
                    }
                    100% {
                        transform: scale(1);
                        opacity: 1;
                    }
                }
            }
        }
    }

    #projects {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: $spacing-m;
        padding: 0 $spacing-m;
    }

    #footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: $spacing-header;
        font-weight: $font-weight-regular;
        transition: height $transition-medium ease,
                    margin $transition-medium ease;

        .divider {
            background-color: $color-black;
            border-radius: 50%;
            height: $border-underline * 2;
            width: $border-underline * 2;
            margin: 0 $spacing-s;
        }
    }

    @media (max-width: $media-xl) {
        #projects {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

    @media (max-width: $media-l) {
        #projects {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    @media (max-width: $media-m) {
        #projects {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media (max-width: $media-s) {
        #projects {
            grid-template-columns: 1fr;
        }
    }

    @media (max-width: $media-xs) {
        #selection {
            height: $spacing-button;
            margin-top: $spacing-header;
            margin-bottom: $spacing-m * 2;
        }

        #footer{
            height: $spacing-m;
            margin-top: $spacing-m;
            margin-bottom: $spacing-m;
        }
    }
}

#main.desktop #portfolio {
    #selection li:hover {
        transform: scale(1.1);
    }
}