@import './Fonts.scss';
@import './Variables.scss';

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

html,
body {
    position: fixed;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: $color-black;
    font-family: 'Web', sans-serif;
    font-weight: $font-weight-thin;
    line-height: 1.25;
    letter-spacing: 0.5px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: $color-white;
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: $font-size-s;
    font-weight: $font-weight-regular;
}

#root {
    height: 100%;
    width: 100%;
}

#app {
    position: relative;
    height: 100%;
    width: 100%;

    #header {
        transform: translate(0%, 0vh);
        
    }

    #imprint,
    #information {
        transform: translate(100%, 0%);
    }

    #showroom {
        transform: translate(-100%, 0%);
    }

    #welcome {
        transform: translate(0%, -100%);
    }

    &.imprint {
        #imprint { 
            transform: translate(0%, 0%);
        }

        #portfolio { 
            transform: translate(-100%, 0%);
        }
    }

    &.information {
        #information {
            transform: translate(0%, 0%);
        }

        #portfolio {
            transform: translate(-100%, 0%);
        }
    }

    &.portfolio {
        #portfolio {
            transform: translate(0%, 0%);
        }
    }

    &.showroom {
        #portfolio {
            transform: translate(100%, 0%);
        }

        #showroom {
            transform: translate(0%, 0%);
        }
    }

    &.welcome {
        #header { transform: translate(0%, 100vh) }
        #welcome { transform: translate(0%, 0%); }

        #portfolio {
            transform: translate(0%, 100%);
        }
    }

    &.transition {
        #header,
        #imprint,
        #information,
        #portfolio,
        #showroom,
        #welcome {
            transition: transform $transition-l ease;
        }
    }

    &.desktop {
        #imprint,
        #information,
        #portfolio,
        #showroom,
        #welcome {
            position: absolute;
            height: 100%;
            width: 100%;
        }

        #imprint>.content,
        #information>.content,
        #portfolio>.content,
        #showroom>.content {
            overflow-y: auto;
            height: 100%;
            width: 100%;
        }

        .underline {
            cursor: pointer;
            position: relative;
        
            &:hover::after {
                transform: scaleX(1);
            }
        
            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -$border-underline;
                height: $border-underline;
                width: 100%;
                background-color: $color-black;
                transform-origin: left;
                transition: transform $transition-s ease;
                transform: scaleX(0);
                border-radius: $border-radius-s;
            }
        
            &.black::after {
                background-color: $color-black;
            }
        
            &.white::after {
                background-color: $color-white;
            }
        }
    }

    &.mobile {
        #imprint,
        #information,
        #portfolio,
        #showroom,
        #welcome {
            position: absolute;
            overflow-y: auto;
            height: 100%;
            width: 100%;
        }
    }
}