@import '../../App/Variables.scss';

#information {
    background-color: $color-black;
    color: $color-white;

    .wrapper {
        box-sizing: border-box;
        margin: 0 auto;
        transition: padding $transition-s ease,
                    width $transition-s ease;
        padding-top: $spacing-header;
        padding-bottom: $spacing-l;
        width: $spacing-wrapper;

        #picture {
            box-sizing: border-box;
            margin: 0 auto;
            margin-bottom: $spacing-l;
            width: $spacing-picture;
            transition: padding $transition-m ease,
                        width $transition-m ease;
    
            img {
                border-radius: 50%;
                width: 100%;
            }
        }

        #introduction {
            margin-bottom: $spacing-l;
        }

        #contact div {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            img {
                margin-right: $spacing-s * 2;
                width: $spacing-icon-xs;
            }

            &:first-of-type {
                margin-bottom: $spacing-s * 2;
            }

            &:last-of-type {
                margin-bottom: $spacing-l;
            }
        }

        #social {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                display: inline-block;
                height: $spacing-icon-m;
                width: $spacing-icon-m;
                transition: transform $transition-s ease;
                transform: scale(1);

                img {
                    width: 100%;
                }

                &:not(:last-of-type) {
                    margin-right: $spacing-s;
                }
            }
        }
    }

    @media (max-width: $media-s) {
        .wrapper{
            width: 100%;
            padding: $spacing-header $spacing-m $spacing-l $spacing-m;
        }
    }

    @media (max-width: $media-xs) {
        .wrapper #picture {
            padding: 0 $spacing-l;
            width: 100%;
        }
    }

}

#app.desktop #information {
    #social a:hover {
        transform: scale(1.25);
    }
}
