@import '../../../General/Variables.scss';

#welcome {
    position: relative;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    justify-items: center;
    background-color: $color-white;

    #logo {
        height: $spacing-icon-xl;
        width: $spacing-icon-xl;
        align-self: flex-end;
        transition: transform $transition-xl ease;
        transform: translateY(-10%);

        img {
            height: 100%;
            width: 100%;
        }
    }

    #message {
        color: $color-black;
        font-size: $font-size-l;
        font-weight: $font-weight-thin;
        align-self: center;
        text-align: center;
        margin: $spacing-l 0;
        line-height: 1.25;
        letter-spacing: 0.25;
        transition: transform $transition-xl ease;
        transform: scale(0.75);
    }

    #enter {
        cursor: pointer;
        align-self: flex-start;
        transition: transform $transition-xl ease;
        transform: translateY(10%);

        img {
            height: $spacing-icon-l;
            width: $spacing-icon-l;
            transition: transform $transition-m ease;
            transform: scale(1);
        }
    }

    &.show {
        #logo {
            transform: translateY(0%);
        }
    
        #message {
            transform: scale(1);
        }
    
        #enter {
            transform: translateY(0%);
        }
    }
}

#main.desktop {
    #enter img:hover {
        transform: scale(1.25);
    }
}
