/******************************/
/************ COLOR ***********/
/******************************/

$color-white: #FFFFFF;
$color-white-transparent: #FFFFFF80;
$color-black: #141414;
$color-black-transparent: #14141480;

/******************************/
/********** FONT-SIZE *********/
/******************************/

$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 20px;
$font-size-xl: 24px;

/******************************/
/********* FONT-WEIGHT ********/
/******************************/

$font-weight-thin: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

/******************************/
/*********** SPACING **********/
/******************************/

$spacing-s: 10px;
$spacing-m: 25px;
$spacing-l: 50px;
$spacing-icon-s: 35px;
$spacing-icon-m: 75px;
$spacing-icon-l: 100px;
$spacing-button: 45px;
$spacing-header: 150px;

/******************************/
/******** BORDER-RADIUS *******/
/******************************/

$border-radius-s: 5px;
$border-radius-m: 10px;
$border-radius-l: 20px;

/******************************/
/************ MEDIA ***********/
/******************************/

$media-s: 750px;
$media-m: 1000px;
$media-l: 1250px;
$media-xl: 2000px;

/******************************/
/********* TRANSITION *********/
/******************************/

$transition-high: 0.25s;
$transition-medium: 0.5s;
$transition-low: 1s;

/******************************/
/********* TRANSITION *********/
/******************************/

$border-width: 1.5px;