/******************************/
/************ COLOR ***********/
/******************************/

$color-white: #FFFFFF;
$color-white-transparent: #FFFFFF80;
$color-white-shadow: #FFFFFF40;

$color-black: #141414;
$color-black-transparent: #14141480;
$color-black-shadow: #14141440;

/******************************/
/********** FONT-SIZE *********/
/******************************/

$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 20px;
$font-size-xl: 24px;
$font-size-xxl: 48px;
$font-size-h1: 32px;
$font-size-h2: 24px;

/******************************/
/********* FONT-WEIGHT ********/
/******************************/

$font-weight-thin: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

/******************************/
/*********** SPACING **********/
/******************************/

$spacing-xs: 5px;
$spacing-s: 10px;
$spacing-m: 25px;
$spacing-l: 50px;
$spacing-icon-xs: 20px;
$spacing-icon-s: 30px;
$spacing-icon-m: 40px;
$spacing-icon-l: 75px;
$spacing-icon-xl: 100px;
$spacing-bullet: 5px;
$spacing-button: 45px;
$spacing-header: 150px;
$spacing-picture: 250px;
$spacing-wrapper: 500px;
$spacing-scrollbar: 5px;
$spacing-loader: 75px;

/******************************/
/******** BORDER-RADIUS *******/
/******************************/

$border-radius-s: 5px;
$border-radius-m: 10px;
$border-radius-l: 20px;

/******************************/
/************ MEDIA ***********/
/******************************/

$media-xs: 400px;
$media-s: 600px;
$media-m: 900px;
$media-l: 1200px;
$media-xl: 2000px;

/******************************/
/********* TRANSITION *********/
/******************************/

$transition-s: 0.25s;
$transition-m: 0.5s;
$transition-l: 1s;
$transition-xl: 2s;

/******************************/
/******** BORDER WIDTH ********/
/******************************/

$border-circle: 2.5px;
$border-underline: 1.5px;

/******************************/
/********* BOX-SHADOW *********/
/******************************/

$box-shadow-blur: 10px;
$box-shadow-spread: 0px;
