@import '../../General/Variables.scss';

.slider{
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: $border-radius-l;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    mask-image: radial-gradient(white, black);

    .drag {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 200;
    }

    .click {
        pointer-events: none;
        position: absolute;
        z-index: 300;
        height: 100%;
        width: 100%;

        .left,
        .right {
            position: absolute;
            z-index: 100;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            transition: transform $transition-m ease;
            transform: scale(0);

            img,
            video {
                cursor: pointer;
                pointer-events: all;
                border-radius: 50%;
                width: $spacing-icon-s;
                box-shadow: 0 0 $box-shadow-blur * 2 $box-shadow-spread $color-black-shadow;
                transition: transform $transition-m ease;
                transform: scale(1);

                &:hover {
                    transform: scale(1.25);
                }
            }
        }

        .left {
            left: $spacing-icon-m;
        }

        .right {
            right: $spacing-icon-m;
        }
    }

    .bullets {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 100;
        width: 100%;
        bottom: $spacing-m;

        div {
            display: none;
            border-radius: 50%;
            height: $spacing-bullet;
            width: $spacing-bullet;
            box-shadow: 0 0 $box-shadow-blur * 2 $box-shadow-spread $color-black-shadow;
            background-color: $color-white-transparent;

            &:not(:last-child) {
                margin-right: $spacing-xs;
            }

            &.current {
                background-color: $color-white;
            }

            &.show {
                display: block;
            }
        }
    }

    .images {
        img,
        video {
            position: absolute;
            top: 0;
            width: 100%;
            display: none;
            width: 100%;
    
            &.show {
                display: block;
            }
        }
    }

    .placeholder {
        opacity: 0;
        width: 100%;

        img,
        video {
            display: block;
            width: 100%;
        }
    }

    &:hover {
        .click .left,
        .click .right {
            transform: scale(1);
        }
    }

    &.transition {
        .images img,
        .images video {
            transition: left $transition-m ease,
                        right $transition-m ease;
        }

        .bullets div {
            transition: background-color $transition-m ease;
        }
    }
}
